{% extends 'base.html.twig' %}

{% block title %}Exhibit Admin{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-3">
        md-3
    </div>
    <div class="col-md-3">
        md-3
    </div>
    <div class="col-md-6">
        md-6
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>code</td>
        <td>desc</td>
    </tr>
    </tbody>
</table>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            <p>
                <a class="btn  btn-primary btn-lg" href="{{ path('player') }}">Public View</a>
                <a class="btn  btn-primary btn-lg" target="_blank" href="{{ path('exhibits_feed') }}">JSON Feed</a>
            </p>


        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <h1>Exhibit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Transcript</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exhibit in exhibits %}
            <tr>
                <td>{{ exhibit.id }}</td>
                <td>{{ exhibit.code }}</td>
                <td>{{ exhibit.transcript|slice(0, 255) }}</td>
                <td>
                    <a href="{{ path('exhibit_show', {'id': exhibit.id}) }}">show</a>
                    <a href="{{ path('exhibit_player', {'id': exhibit.id}) }}">play</a>
                    <a href="{{ path('exhibit_recorder', {'id': exhibit.id}) }}"><i class="fa fa-microphone"></i> recorder</a>
                    <a href="{{ path('exhibit_edit', {'id': exhibit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exhibit_new') }}">Create new</a>
{% endblock %}
