{% extends 'base.html.twig' %}

{% block title %}Exhibit index{% endblock %}

{% block body %}
    <h1>Exhibit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Transcript</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exhibit in exhibits %}
            <tr>
                <td>{{ exhibit.id }}</td>
                <td>{{ exhibit.code }}</td>
                <td>{{ exhibit.transcript|slice(0, 255) }}</td>
                <td>
                    <a href="{{ path('exhibit_show', {'id': exhibit.id}) }}">show</a>
                    <a href="{{ path('exhibit_player', {'id': exhibit.id}) }}">play</a>
                    <a href="{{ path('exhibit_recorder', {'id': exhibit.id}) }}"><i class="fa fa-microphone"></i> recorder</a>
                    <a href="{{ path('exhibit_edit', {'id': exhibit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exhibit_new') }}">Create new</a>
{% endblock %}
