{% extends 'base.html.twig' %}

{% block title %}Exhibit Admin{% endblock %}

{% block body %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{ 'home.title'|trans }}</h1>
            <p>
                {{ 'home.intro'|trans }}
            </p>

            <p>
                <a class="btn  btn-primary btn-lg" href="{{ path('player') }}">Public View</a>
                <a class="btn  btn-primary btn-lg" target="_blank" href="{{ path('exhibits_feed') }}">JSON Feed</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for key, path in {public: path('player'), admin: 'admin', stats: '#'} %}
            <div class="col-md-4">
                <h2>{{ 'home.%s.title'|format(key)|trans }}</h2>
                <p>{{ 'home.%s.description'|format(key)|trans }}</p>
                <p><a class="btn btn-secondary" href="{{ path }}" role="button">View &raquo;</a></p>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="container">
        <h4>Exhibits</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exhibit in exhibits %}
            <tr>
                <td>{{ exhibit.id }}</td>
                <td>{{ exhibit.title }}</td>
                <td>{{ exhibit.description }} </td>
                <td>
                    <a href="{{ path('exhibit_show', {'id': exhibit.id}) }}">show</a>
                    <a href="{{ path('exhibit_player', {'id': exhibit.id}) }}">play</a>
                    <a href="{{ path('exhibit_recorder', {'id': exhibit.id}) }}"><i class="fa fa-microphone"></i> recorder</a>
                    <a href="{{ path('exhibit_edit', {'id': exhibit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exhibit_new') }}">Create new</a>
    </div>
</main>
{% endblock %}
