{% extends 'base.html.twig' %}

{% block title %}Recorder: {{ exhibit.code }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="/styles/app.css" rel="stylesheet" type="text/css">
  <link href="/styles/install-button.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
  <script src="/scripts/install.js"></script>
  <script src="/scripts/mediaDevices-getUserMedia-polyfill.js"></script>

  {{ parent() }}
  {{ encore_entry_script_tags('recorder') }}


  <!-- Below is your custom application script
  <script src="/scripts/app.js"></script>
  -->
{% endblock %}

{% block body %}



  <h2 id="test" data-code="{{ exhibit.code }}"></h2>

  <span id="exhibit-info"  data-post-url="{{ path('exhibit_save_audio', exhibit.rp) }}" data-code="{{ exhibit.code }}"></span>


    <div class="wrapper">

      <header>
        <h1>Exhibit {{ exhibit.code }}</h1>
      </header>

      <div>
        {{ exhibit.transcript }}
      </div>

      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips">


      </section>

    </div>

    <label for="toggle">❔</label>
    <input type="checkbox" id="toggle">
    <aside>
      <h2>Information</h2>

      <p>Web dictaphone is built using <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a> and the <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder_API">MediaRecorder API</a>, which provides an easier way to capture Media streams.</p>

      <p>Icon courtesy of <a href="http://findicons.com/search/microphone">Find Icons</a>. Thanks to <a href="http://soledadpenades.com/">Sole</a> for the Oscilloscope code!</p>

      <button id="install-btn">Install app</button>
    </aside>



{% endblock %}
