{% extends 'base.html.twig' %}

{% block title %}Exhibit{% endblock %}

{% block body %}
    <h1>Exhibit</h1>




    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exhibit.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ exhibit.filename }}</td>
            </tr>
            <tr>
                <th>Transcript</th>
                <td>{{ exhibit.transcript|markdown }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ exhibit.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exhibit_index') }}">back to list</a>

    <a href="{{ path('exhibit_edit', {'id': exhibit.id}) }}">edit</a>

    {{ include('exhibit/_delete_form.html.twig') }}
{% endblock %}
